\==[doc]      [2] [\bullet(packed)[\link[\1][\2]]]
\==[program]  [3]
    [\tablerow[\1 \version[\2]] [\release[\2]]
        [\link[http://archives.eyrie.org/software/\3.tar.gz][tar.gz]
        (\link[http://archives.eyrie.org/software/\3.tar.gz.asc]
              [PGP signature])]
        [\link[http://archives.eyrie.org/software/\3.tar.xz][tar.xz]
        (\link[http://archives.eyrie.org/software/\3.tar.xz.asc]
              [PGP signature])]]
\==[download] [3]
    [\1 \version[\2]\break
     \link[http://archives.eyrie.org/software/\3.tar.gz][tar.gz]
     (\link[http://archives.eyrie.org/software/\3.tar.gz.asc]
           [signature])\break
     \link[http://archives.eyrie.org/software/\3.tar.xz][tar.xz]
     (\link[http://archives.eyrie.org/software/\3.tar.xz.asc]
           [signature])\break
    Released \release[\2]]

\heading[[% name %]][software]

\h1[[% name %]]

\div(sidebar)[
    \h2[Download]

    \download[[% name %]][[% name %]]
        [[% distribution.section %]/[% name %]-\version[[% name %]]]
[% IF packaging.debian %]
    \link[https://packages.debian.org/source/sid/[% packaging.debian %]]
         [Debian packages] \break[% END %]
    \link[http://archives.eyrie.org/software/ARCHIVE/[% name %]/]
         [Archive]

    \h2[Documentation]

    \link[readme.html][General overview] \break
    \link[news.html][Change summary][% FOREACH doc IN docs.user %] \break
    \link[[% doc.name %].html][[% doc.title %]][% END %]

    \h2[Development]

    \link[todo.html][To-do list][% IF vcs.github %] \break
    \link[https://github.com/[% vcs.github %]]
         [GitHub][% END %][% IF vcs.type == 'Git' %] \break
    \link[[% vcs.browse %]]
         [Git repository][% END %][% IF packaging.debian %] \break
    \link[https://tracker.debian.org/pkg/[% packaging.debian %]]
         [Debian package tracker][% END %]
]
[% IF obsolete %]
\h2[Warning]

\class(alert)[This package is orphaned.]  Although I believe it is still
useful, I no longer use this package and am no longer maintaining it.  If
you would like to pick up maintenance, please feel free.  Contact me if
you would like this page to redirect to its new home.
[% END %]
\h2[Blurb]

[% to_thread(blurb) %]

\h2[Description]

[% to_thread(description) %]

\h2[Requirements]

[% to_thread(requirements) %]
[% IF build.autotools %]
To bootstrap from a Git checkout, or if you change the Automake files and
need to regenerate Makefile.in, you will need Automake
[% build.automake %] or later.  For bootstrap or if you change
configure.ac or any of the m4 files it includes and need to regenerate
configure or config.h.in, you will need Autoconf [% build.autoconf %] or
later.
[% END %]
\h2[Download]

The distribution:

\table[][
    \program[[% name %]][[% name %]]
        [[% distribution.section %]/[% name %]-\version[[% name %]]]
]

An \link[http://archives.eyrie.org/software/ARCHIVE/[% name %]/][archive
of older releases] is also available.

[% debian.summary %]

[% name %] is maintained using the [% vcs.type %] version control system.
To check out the current development tree, [% IF vcs.github %]see
\link[https://github.com/[% vcs.github %]][GitHub] or [% END %]clone:

\pre[    [% vcs.url %]]

[% IF vcs.github %]Pull requests on GitHub are welcome.  [% END %]You can
also \link[[% vcs.browse %]][browse the current development source].

\h2[Documentation]

User documentation:

\doc[readme.html][README]
\doc[news.html][Change summary][% FOREACH doc IN docs.user %]
\doc[[% doc.name %].html][[% doc.title %]][% END %]
\doc[license.html][License and copyright]

Developer documentation:

\doc[todo.html][To-do list]

\h2[License]

The [% name %] package as a whole is covered by the following copyright
and license:

\block[

[% copyright(4) %]

[% indent(license.full, 4) %]

]

Some individual source files are covered by other, compatible licenses.
For complete copyright and license information, see the file
\link[license.html][LICENSE] in the [% name %] source distribution.

\signature
